{% include "html_modules/header.html" %}






<script type="text/javascript">
//Varibales added in template but used in tourpage.js
var country_data = {{ country_data|safe }};
var destinations_data = {{ destinations_data|safe }};
var itinerary_id = "{{itinerary_id }}";
var country_id = {{ country }};



</script>
<script src="/static/js/jquery-1.12.0.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxgkD5hmVMfqFSIojns4PpHR6-4FMY0zY"></script>
<script src="/static/js/tourpage.js"></script>



<style>
       #map {
        height: 400px;
        width: 50%;
       }
</style>
{% include "html_modules/navigation.html" %}







<div id="tourbody">

	<h2 id="titleCountry">{{ country_data.name }}</h2>


	<p id="itineraryID" >{{ itinerary_id }}</p>
	<form id="complete" action="/createTour/hotels/" method="GET">
		<input type="text" value="{{ itinerary_id }}" name="itinerary_id">
		<input type="submit" value="Itinerary Complete">

	</form>

	<input id="delete" type="button" value="Delete Itinerary">

	<div id="destinationBox">

		<div id="destinationSelect">
			{% for destination in destinations_data %}

					<h3 id="destinationTitle{{ destination.destination_id }}" class="destinationTitle">{{destination.name}}</h3>


			{% endfor %}
		
		</div>

		<div id="map">	

		</div>

	</div>

	<div id="descriptionArea">

		<div id="itineraryAddButton">
			<input class="addItinerary" id="" type="button" value="Add to Itinerary"/>
		</div>
		

		<div id="description">


			<h3 id="titleDescriptionCountry" class="titleDescription">{{country_data.name}} Preview</h3>

			<p id="descriptionCountry" class="description">{{ country_data.description }}</p>
			
		</div>

		<div id="itineraryContainer">

			

			<div id="itineraryOverview">


				

			</div>

			<div id="routeTransport">
				***** show how to get between destination (transport options). Popultae the description field *****

			</div>

		</div>

	</div>

</div>

{% include "html_modules/footer.html" %}


