html, 
body {
	width: 100%;
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	padding:0;
	margin:0;

}

.navlink{
	display: none;
	width: 100%;
	float: left;
}

.header {
	width: 100%;
	padding:0;
	margin:0;
	float: left;
	background-color: #000066;
	border-bottom: solid 2px #66c2ff;
	box-shadow: 1px 1px 5px #888888;

}

#logoContainer {
	width: 50%;
	margin: 0;
	padding: 0;
	float: left;
}

#logo {
	width: 150px;
	height: 120px;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	padding-left: 70px;


}

.menu {
	width: 50%;
	margin: 0;
	padding: 0;
	padding-top: 55px;
	float: left;
}

#menuulreg{
	width: 100%;
	margin: 0;
	padding: 0;
}

#menureg {
	width: 20%;
	margin: 0;
	padding: 0;
	display: inline;
	text-decoration: none;
	text-align: center;
	padding: 0 10px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 22px;
}







.select_container {
	width: 20%;
	height: 100%;
	padding:0;
	margin:0;
	margin-top: 5%;
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	color: #000066;
	
}




#hey,
#place{
	width: 100%;
	padding:0;
	margin:0;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	display: block;
}

.area{
	cursor: pointer;
}

#place{
	cursor: pointer;
}

.mapcontainer {
	width: 70%;
	padding:2%;
	margin:0;
	margin-top: 3%;
	float: left;
	border: solid 1px #0066ff;
	box-shadow: 1px 1px 5px #888888;
}



#map{
	width: 900px;
	height: 400px;
	
	padding: 0;
	margin: 0;
	box-shadow: 1px 1px 5px #888888;

}




.ads {
	width: 10%;
	padding:0;
	margin:0;
	margin-top: 5%;
	float: left;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
}

#bottom{
	width: 100%;
	margin: 0;
	padding: 0;
	float: left;
}




#placedescription{
	width: 100%;
	padding: 0;
	
	margin-top: 1%;
	margin-bottom: 15%;
	float: left;
	font-family: 'Josefin Sans', sans-serif;
	

	
}

#placedescription div{
	display: hide;
}

#footer {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #000033;
	float: left;
}

#copy {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: white;

}



#about{
	width: 100%;
	margin-left: 44.5%;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #000066;

}

.hotelbutton,
.attractionbutton,
.descriptionbutton{
	width: 15%;
	margin: 0;
	margin-top: 2%;
	padding: 0;
	padding-top: 1%;
	padding-bottom: 1%;
	float: left;
	text-align: center;
	border: solid 0.1px #0066ff;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	background-color: #000066;
	transition: 0.5s;
	cursor: pointer;
	box-shadow: 1px 1px 5px #888888;
	
}

.hotelbutton:hover,
.attractionbutton:hover,
.descriptionbutton:hover{
	background-color: white;
	color: #000066;
}

#buttoncontainer {
	width: 100%;
	

}

#placename{
	width: 90%;
	margin-top: 2%;
	font-family: 'Josefin Sans', sans-serif;
	color: #000066;
}

#placeholder{
	display: none;
}

.descitem {
	width: 100%;
	margin:0;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: #000066;
	border-bottom: 0.5px solid #000066;
	

}

/*------------------------------------------ map resize ------------------------------------------------*/

/*-- large monitors --*/

@media screen and (min-width: 2560px) {
    #map {
        width: 1800px;
    }
}

@media screen and (min-width: 2300px) and (max-width: 2559px){
    #map {
        width: 1600px;
    }
}

@media screen and (min-width: 2100px) and (max-width: 2299px){
    #map {
        width: 1500px;
    }
}

@media screen and (min-width: 1900px) and (max-width: 2099px){
    #map {
        width: 1350px;
    }
}

@media screen and (min-width: 1800px) and (max-width: 1899px){
    #map {
        width: 1250px;
    }
}

@media screen and (min-width: 1700px) and (max-width: 1799px){
    #map {
        width: 1220px;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1699px){
    #map {
        width: 1150px;
    }
}

/*-- large laptops --*/

@media screen and (min-width: 1500px) and (max-width: 1599px){
    #map {
        width: 1080px;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1499px){
    #map {
        width: 1000px;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1399px){
    #map {
        width: 940px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1299px){
    #map {
        width: 860px;
    }
}

/*-- average laptops --*/

@media screen and (min-width: 1100px) and (max-width: 1199px){
    #map {
        width: 790px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1099px){
    #map {
        width: 700px;
    }
}

@media screen and (min-width: 900px) and (max-width: 999px){
    #map {
        width: 630px;
    }
}

/*-- tablets --*/

@media screen and (min-width: 800px) and (max-width: 899px){
    #map {
        width: 560px;
    }
}

@media screen and (min-width: 769px) and (max-width: 800px){
    #map {
        width: 520px;
    }
}

@media screen and (width: 768px){
    #map {
        width: 520px;
    }
}

@media screen and (min-width: 700px) and (max-width: 767px){
    #map {
        width: 480px;
    }
}

@media screen and (min-width: 600px) and (max-width: 699px){
    #map {
        width: 430px;
    }
}

/*-- phones --*/

@media screen and (min-width: 560px) and (max-width: 599px){
    #map {
        width: 530px;
        height: 400px;
    }
}

@media screen and (min-width: 550px) and (max-width: 559px){
    #map {
        width: 520px;
        height: 400px;
    }
}

@media screen and (min-width: 540px) and (max-width: 549px){
    #map {
        width: 510px;
        height: 400px;
    }
}

@media screen and (min-width: 530px) and (max-width: 539px){
    #map {
        width: 500px;
        height: 400px;
    }
}

@media screen and (min-width: 520px) and (max-width: 529px){
    #map {
        width: 490px;
        height: 400px;
    }
}

@media screen and (min-width: 510px) and (max-width: 519px){
    #map {
        width: 480px;
        height: 400px;
    }
}

@media screen and (min-width: 500px) and (max-width: 509px){
    #map {
        width: 470px;
        height: 400px;
    }
}

@media screen and (min-width: 490px) and (max-width: 499px){
    #map {
        width: 460px;
        height: 400px;
    }
}

@media screen and (min-width: 480px) and (max-width: 489px){
    #map {
        width: 450px;
        height: 400px;
    }
}

@media screen and (min-width: 470px) and (max-width: 479px){
    #map {
        width: 440px;
        height: 400px;
    }
}

@media screen and (min-width: 460px) and (max-width: 469px){
    #map {
        width: 430px;
        height: 400px;
    }
}

@media screen and (min-width: 450px) and (max-width: 459px){
    #map {
        width: 420px;
        height: 400px;
    }
}

@media screen and (min-width: 440px) and (max-width: 449px){
    #map {
        width: 410px;
        height: 400px;
    }
}

@media screen and (min-width: 430px) and (max-width: 439px){
    #map {
        width: 400px;
        height: 400px;
    }
}

@media screen and (min-width: 420px) and (max-width: 429px){
    #map {
        width: 390px;
        height: 390px;
    }
}

@media screen and (min-width: 410px) and (max-width: 419px){
    #map {
        width: 380px;
        height: 380px;
    }
}

@media screen and (min-width: 400px) and (max-width: 409px){
    #map {
        width: 370px;
        height: 370px;
    }
}










/*------------------------------------------ logo and select buttons resize for large screen ------------------------------------------------*/


@media screen and (min-width: 1500px) and (max-width: 2560px){
	#place{
		font-size: 60px;
	}

	.area{
		font-size: 40px;


	}

	#logo{
		width: 300px;
		height: 250px;
	}

	#menureg{
		font-size: 50px;
	}

	.menu {
		margin-top: 2.3%;


	}

	#map{
		height: 800px;
	}

	#placedescription{
	font-size: 30px;
	

	
}



}


/*------------------------------------------ resize for phone screen ------------------------------------------------*/


@media screen and (max-width: 600px){
	#hey{
		display: none;
	}

	.navlink{
		display: inline-block;
		text-align: center;
		font-family: 'Josefin Sans', sans-serif;
	color: #000066;
	}

	.select_container{
		width: 100%;
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 30px;
		float: none;
	}

	.mapcontainer{
		width: 90%;
		border: none;
		box-shadow: none;

		padding: 5%;
		float: none;
		margin-bottom: 10px;
		padding-bottom: 15px;

	}

	#ads{
		display: none;
	}

	#logo{
		padding-left: 10px;
	}

	.header{
		margin-top: 0;
		margin-bottom: 15px;

		
	}

	.hotelbutton{
		margin-top: 10%;
	}

	.descriptionbutton{
		margin-bottom: 10%;
	}

	.hotelbutton,
	.attractionbutton,
	.descriptionbutton{
		width: 90%;
		margin: 0;
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 2%;
		padding: 0;
		padding-top: 1%;
		padding-bottom: 1%;
		float: left;
		text-align: center;
		border: solid 0.1px #0066ff;
		font-family: 'Josefin Sans', sans-serif;
		color: white;
		background-color: #000066;
		transition: 0.5s;
		cursor: pointer;
		box-shadow: 1px 1px 5px #888888;
	
}




}










