{% include "html_modules/header.html" %}

    <link rel="stylesheet" type="text/css" href="/static/style/homestyle.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
<!--
if (screen.width <= 900) {
window.location.href = '/mobile/';
}
//-->
</script>




{% include "html_modules/navigation.html" %}
<h1>Hello and welcome to the home page</h1>



  	<div class="success">

	  	<div id="header">
	  		<div id="logoContainer">
		   		<a href="/"><img id="logo" src="/static/img/logo_nobackground.png"></a>
		   	</div>

		   	<div class="menu">
			  	<ul id="menuulreg">

					<li id="menureg"><a  id="menureg" href='/user_profile/'>Profile</a></li>
					<li id="menureg"><a id="menureg" href='/user_profile/logout'>Logout</a></li>
				

				</ul>	
			</div>

		</div>

		<div class="mainbody">
	  		<div id="successbox">

                {% if status == 1 %}
	  			<p id="regsuccess">Thankyou for confirming your email address.</p>
                {% else %}
                <p id="regsfailed">Please use a valid link or register again</p>
                {% endif %}
	  		</div>
	  	</div>

	  	<div id="copy">
        <p>&copy; {% now "Y" %} The Adventurer</p>
    </div>
  </div>
{% include "html_modules/footer.html" %}