{% include "html_modules/header.html" %}

    <link rel="stylesheet" type="text/css" href="/static/style/homestyle.css">
	<link href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
	<script type="text/javascript">
<!--
if (screen.width <= 900) {
window.location.href = '/mobile/';
}
//-->
</script>

{% include "html_modules/navigation.html" %}




  	<div class="success">

	  	<div id="header">
	  		<div id="logoContainer">
		   		<a href="/"><img id="logo" src="/static/img/logo_nobackground.png"></a>
		   	</div>

		   	<div class="menu">
			  	<ul id="menuulreg">
					<li id="menureg"><a  id="menureg" href='user_profile/profile/'>Profile</a></li>
					<li id="menureg"><a id="menureg" href='/user_profile/logout'>Logout</a></li>
				

				</ul>	
			</div>

		</div>

		<div class="mainbody">
	  		<div id="successbox">
	  			<p id="regsuccess">Thank you for registering {{  first_name }}, an email has been sent to {{ email }}. Please read this email and confirm your account</p>
	  		</div>
	  	</div>
{% include "html_modules/footer.html" %}