html, 
body {
	margin: 0;
	padding: 0;
}
.container{
	width: 100%;
	padding:0;
	margin:0;

}

.header {
	width: 100%;
	padding:0;
	margin:0;
	float: left;
	background-color: #000066;
	border-bottom: solid 2px #66c2ff;
	box-shadow: 1px 1px 5px #888888;

}

#logoContainer {
	width: 50%%;
	margin: 0;
	padding: 0;
	float: left;
}

#logo {
	width: 150px;
	height: 120px;
	padding: 0;
	margin: 0;
	padding-top: 10px;
	padding-left: 70px;


}

.menu {
	width: 50%;
	margin: 0;
	padding: 0;
	padding-top: 55px;
	float: left;
}

#menuulreg{
	width: 100%;
	margin: 0;
	padding: 0;
}

#menureg {
	width: 20%;
	margin: 0;
	padding: 0;
	display: inline;
	text-decoration: none;
	text-align: center;
	padding: 0 10px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	font-size: 22px;
}


.itinerarys{
	width: 50%;
	padding: 0;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 10%;
	float: left;
	font-family: 'Josefin Sans', sans-serif;
}

#footer {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #000033;
	float: left;
}

#copy {
	font-family: 'Josefin Sans', sans-serif;
	text-align: center;
	color: white;

}

#title{
	width: 100%;
	text-decoration: underline;
}



#email_edit,
#ecb,
#first_edit,
#fcb,
#last_edit,
#lcb,
#delete_account,
#sure,
#cancel_delete{
	display:none;
	cursor: pointer;
	
}

#ecb:hover,
#fcb:hover,
#lcb:hover,
#sure:hover,
#email_edit:hover,
#first_edit:hover,
#last_edit:hover,
#delete_account:hover,
#cancel_delete:hover {
	cursor: pointer;
	cursor: hand;
}


#eeb:hover,
#feb:hover,
#leb:hover,
#predelete_account:hover {
	cursor: pointer;
	cursor: hand;
}

.row{
	display: inline;
}

.buttondesign {
	background-color: #000066;
}
